body {
    padding: 0;
    margin: 0;
}

#unity-container {
    position: absolute
}

#unity-container.unity-desktop {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%
}

#unity-canvas {
    background: #231F20
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}


#unity-footer {
    position: relative
}

.unity-mobile #unity-footer {
    display: none
}

#unity-build-title {
    float: right;
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}


#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}

h1 {
    color: white;
    font-family: "Magic Sound", monospace;
    font-size: 50px;
    text-align: center;
}

small {
    color: white;
    font-family: "Arial Rounded MT Bold", monospace;
    text-align: center;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* This ensures the canvas maintains 16:9 while respecting max width/height */
@media (min-aspect-ratio: 16/9) {
    #unity-canvas-wrapper {
        width: calc((90vh - 10vh) * 16 / 9); /* Height-based width calculation */
        height: calc(90vh - 10vh);
    }
}

@media (max-aspect-ratio: 16/9) {
    #unity-canvas-wrapper {
        width: calc(90vw - 10vw);
        height: calc((90vw - 10vw) * 9 / 16); /* Width-based height calculation */
    }
}

@font-face {
    font-family: 'Magic Sound';
    src: url('https://raw.githubusercontent.com/Raevren/hetznergamejam2025/main/Assets/Magic Sound.ttf') format('truetype');
}

